#detail {
  background: #ffffff;
  position: relative;
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    width: 100%;

    .detail {
      grid-area: 1 / 2 / 2 / 5;
      display: flex;

      .breadcrumbs {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: -30px;
      }
      .breadcrumbs a {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
      .breadcrumbs p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.45);
      }
      .detailList {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr;
        /* grid-template-rows: repeat(5, 1fr); */
        grid-row-gap: 20px;
        .header {
          grid-area: 1 / 1 / 2 / 2;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: rgba(0, 0, 0, 0.85);
        }
        .price {
          grid-area: 2 / 1 / 3 / 2;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          color: rgba(0, 0, 0, 0.85);
        }
        .detailProduct {
          grid-area: 3 / 1 / 4 / 2;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
        }
        .quality {
          grid-area: 4 / 1 / 5 / 2;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          .buttonGroup {
            display: flex;
            gap: 10px;
            /* height: 40px; */
          }
        }
        .button {
          grid-area: 5 / 1 / 6 / 2;
        }
      }
    }
    .imageProduct {
      width: 100%;
      /* height: 234px; */
      display: block;
    }
    .imageProductMobile {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  #detail {
    .detail {
      grid-area: 1 / 1 / 2 / 6 !important;
      margin: 10px;

      .imageProductMobile {
        display: block !important;
        width: 100%;
        /* height: 165px; */
      }
      .imageProduct {
        display: none !important;
      }
    }
  }
}
