#homepage {
  background: #ffffff;
  position: relative;
  .div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    height: 70px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
    width: 100%;
  }
  .div3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    height: 50px;
    right: 0px;
    background: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    .footer {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 31px;
      color: #595959;
      margin: 10px;
    }
  }
  .logo {
    width: 122px;
    height: 40px;
    background: url(../public/icon/logo\ 2.png);
  }
  .iconGroup {
    display: flex;
    display: flex;
    position: absolute;
    right: 0px;
    gap: 15px;
    padding: 10px;
    .personIcon {
      width: 16px;
      height: 16px;
      background: url(../public/icon/person.png);
      cursor: pointer;
    }
    .shopingCardIcon {
      width: 21px;
      height: 16px;
      background-image: url(../public/icon/shopping_cart.png);
      cursor: pointer;
    }
  }
  .imageBanner {
    width: 100%;
    height: 431px;
    background: url(../public/icon/image2.png);
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    width: 100%;

    .banner {
      grid-area: 1 / 2 / 2 / 5;
    }
    .detail {
      grid-area: 2 / 2 / 3 / 5;

      .filters {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin: 10px;
      }
      .filters p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.85);
      }
      .detailCard p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        line-height: 21px;
        height: 42px;
        overflow: hidden;
        color: rgba(0, 0, 0, 0.85);
      }
      .detailCard a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: left;
        line-height: 24px;
        height: 48px;
        overflow: hidden;
      }
    }
    .detail p {
      font-size: 28px;
      line-height: 42px;
      color: rgba(0, 0, 0, 0.85);
      text-align: center;
    }
    .imageProduct {
      width: 100%;
      height: 234px;
      display: block;
    }
    .imageProductMobile {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  #homepage {
    .div1 {
      justify-content: space-between;
    }
    .filters {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
      margin: 10px;
    }
    .imageProductMobile {
      display: block !important;
      width: 100%;
      height: 165px;
    }
    .imageProduct {
      display: none !important;
    }
  }
}
